/* 定义重用混入指令
------------------------------- */
@mixin transition($second: 0.3) {
  transition: all #{$second}s;
}

@mixin translateX($opacity: 0, $offsetX: 0) {
  opacity: $opacity;
  transform: translateX(#{$offsetX}px);
}

/* 页面切换动画
------------------------------- */
.fade-transform-enter-active,
.fade-transform-leave-active {
  will-change: transform;
  @include transition();
}
.fade-transform-enter {
  @include translateX(-30);
}
.fade-transform-leave-active {
  @include translateX(30);
}

/* Breadcrumb 面包屑过渡动画
------------------------------- */
.breadcrumb-enter-active,
.breadcrumb-leave-active {
  @include transition();
}
.breadcrumb-enter,
.breadcrumb-leave-active {
  @include translateX(20);
}
.breadcrumb-move {
  @include transition();
}
.breadcrumb-leave-active {
  position: absolute;
}
