@import './index.scss';

/* 页面宽度小于576px
------------------------------- */
@media screen and (max-width: $xs) {
}

/* 页面宽度小于768px
------------------------------- */
@media screen and (max-width: $sm) {
  .el-form {
    .el-select {
      width: 100%;
    }
    .el-input,
    .el-textarea {
      width: 100%;
      max-width: 100% !important;
    }
  }
}
