@import 'common/transition.scss';
@import 'common/var.scss';

.el-button--primary {
  color: #ffffff;
  background-color: setColor(primary);
  border-color: setColor(primary);
}

// .el-button--primary:hover {
//   color: #ffffff;
//   background-color: var(--primary--color-hover);
//   border-color: var(--primary--color-hover);
// }

.el-switch.is-checked .el-switch__core {
  border-color: setColor(primary) !important;
  background-color: setColor(primary) !important;
}

.el-tabs__item:hover,
.el-tabs__item.is-active {
  color: setColor(primary) !important;
}
.el-tabs__active-bar {
  background-color: setColor(primary) !important;
}

.el-menu-item.is-active,
.el-submenu.is-active .el-submenu__title {
  color: setColor(primary) !important;
  border-bottom-color: setColor(primary) !important;
}
