@import './index.scss';

/* 页面宽度小于576px
------------------------------- */
@media screen and (max-width: $xs) {
	.el-form-item__label {
		width: 100% !important;
		text-align: left !important;
		// 移动端 label 右对齐问题
		justify-content: flex-start !important;
	}
	.el-form-item__content {
		margin-left: 0 !important;
	}
	.el-form-item {
		display: unset !important;
	}
}
