@import './index.scss';

/* 页面宽度小于576px
------------------------------- */
@media screen and (max-width: $xs) {
	.login-container {
		background: none !important;
		.login-logo {
			display: none;
		}
		.login-content {
			width: 100% !important;
			height: 100% !important;
			padding: 20px 0 !important;
			border-radius: 0 !important;
			box-shadow: unset !important;
			border: none !important;
		}
		.login-copyright {
			display: none !important;
		}
	}
}
