/* 定义初始颜色
------------------------------- */
$--color-primary: #409eff !default;
$--color-whites: #ffffff !default;
$--color-blacks: #000000 !default;
$--color-bg: #f8f8f8 !default;
$--bg-menuBar: #545c64;
$--bg-menuBarColor: #eaeaea;
$--bg-topBar: #ffffff;
$--bg-topBarColor: #606266;
$--bg-columnsMenuBar: #545c64;
$--bg-columnsMenuBarColor: #e6e6e6;

/* 赋值给:root
------------------------------- */
:root {
	--color-primary: #{$--color-primary};
	--color-whites: #{$--color-whites};
	--color-blacks: #{$--color-blacks};
	--color-bg: #{$--color-bg};
	--bg-menuBar: #{$--bg-menuBar};
	--bg-menuBarColor: #{$--bg-menuBarColor};
	--bg-topBar: #{$--bg-topBar};
	--bg-topBarColor: #{$--bg-topBarColor};
	--bg-columnsMenuBar: #{$--bg-columnsMenuBar};
	--bg-columnsMenuBarColor: #{$--bg-columnsMenuBarColor};
}
